<H1><center>UTILIZANDO EXPRESIONES DE TABLA

1. Utilizando Vistas

1.1. Accediendo a la base de datos TSQL

In [8]:
USE TSQL;
GO

1.2. Write a SELECT statement to return the productid, productname, supplierid, unitprice, and
discontinued columns from the Production.Products table. Filter the results to include only products
that belong to the category Beverages (categoryid equals 1)

In [13]:
DECLARE @beveragesid INT = 1;
SELECT productid,productname,supplierid,unitprice 
FROM Production.Products WHERE categoryid=@beveragesid

productid,productname,supplierid,unitprice
1,Product HHYDP,1,"18,0000"
2,Product RECZE,1,"19,0000"
24,Product QOGNU,10,"4,5000"
34,Product SWNJY,16,"14,0000"
35,Product NEVTJ,16,"18,0000"
38,Product QDOMO,18,"263,5000"
39,Product LSOFL,18,"18,0000"
43,Product ZZZHR,20,"46,0000"
67,Product XLXQF,16,"14,0000"
70,Product TOONT,7,"15,0000"
75,Product BWRLG,12,"7,7500"
76,Product JYGFE,23,"18,0000"

1.3. Modify the T-SQL code to include the following supplied T-SQL statement. Put this statement before
the SELECT clause:

In [11]:
CREATE VIEW Production.ProductsBeverages AS select productid,productname,supplierid,unitprice from Production.Products where categoryid=1

1.4. Write a SELECT statement to return the productid and productname columns from the
Production.ProductsBeverages view. Filter the results to include only products where supplierid equals
1

In [14]:
DECLARE @supplierid INT = 1;
SELECT productid,productname 
FROM Production.ProductsBeverages WHERE supplierid =@supplierid

productid,productname
1,Product HHYDP
2,Product RECZE

1.5. The IT department has written a T-SQL statement that adds an additional calculated column to the

In [3]:
ALTER VIEW Production.ProductsBeverages AS
SELECT
productid, productname, supplierid, unitprice, discontinued,
CASE WHEN unitprice > 100. THEN N'high' ELSE N'normal' END as pricetype
FROM Production.Products 
WHERE categoryid = 1;

1.6. Apply the changes needed to get the T-SQL statement to execute properly

In [4]:
ALTER VIEW Production.ProductsBeverages AS
SELECT
productid, productname, supplierid, unitprice, discontinued,
CASE WHEN unitprice > 100. THEN N'high' ELSE N'normal' END as pricetype 
FROM Production.Products 
WHERE categoryid = 1;

2. Utilizando utilizando Tablas Derivadas

2.1. Write a SELECT statement against a derived 

 and retrieve the productid and productname
columns. Filter the results to include only the rows in which the pricetype column value is equal to
high. Use the SELECT statement from exercise 1, task 4, as the inner query that defines the derived
table. Do not forget to use an alias for the derived table. (You can use the alias “p”.)

In [15]:
SELECT 
    p.productid,productname
FROM
    (
        SELECT 
            productid,productname,supplierid,unitprice,discontinued,
            CASE WHEN unitprice > 100. THEN N'high' ElSE N'normal' END AS pricetype
        FROM Production.Products
        WHERE categoryid=1
    )AS P
WHERE p.pricetype=N'high';

productid,productname
38,Product QDOMO

2.2. Write a SELECT statement to retrieve the custid column and two calculated columns:
totalsalesamount, which returns the total sales amount per customer, and avgsalesamount, which
returns the average sales amount of orders per customer. To correctly calculate the average sales
amount of orders per customer, you should first calculate the total sales amount per order. You can
do so by defining a derived table based on a query that joins the Sales.Orders and Sales.OrderDetails
tables. You can use the custid and orderid columns from the Sales.Orders table and the qty and
unitprice columns from the Sales.OrderDetails table

In [6]:
select 
    c.custid,
    sum(c.totalsalesmountperorder) AS totalsalesmount,
    AVG(c.totalsalesmountperorder) AS avgsalesmount
FROM
    (
        SELECT
            o.custid,o.orderid, SUM(d.unitprice*d.qty) as totalsalesmountperorder
        FROM Sales.Orders as o
        inner join Sales.OrderDetails d on d.orderid=o.orderid
        Group by o.custid,o.orderid
    ) AS c
    GROUP BY c.custid;

custid,totalsalesmount,avgsalesmount
1,"4596,2000","766,0333"
2,"1402,9500","350,7375"
3,"7515,3500","1073,6214"
4,"13806,5000","1062,0384"
5,"26968,1500","1498,2305"
6,"3239,8000","462,8285"
7,"19088,0000","1735,2727"
8,"5297,8000","1765,9333"
9,"23850,9500","1402,9970"
10,"22607,7000","1614,8357"
11,"6089,9000","608,9900"
12,"1814,8000","302,4666"
13,"100,8000","100,8000"
14,"12886,3000","1610,7875"
15,"3810,7500","762,1500"
16,"1719,1000","573,0333"
17,"3763,2100","627,2016"
18,"1615,9000","403,9750"
19,"15033,6600","1879,2075"
20,"113236,6800","3774,5560"
21,"4438,9000","634,1285"
23,"11666,9000","2333,3800"
24,"32555,5500","1713,4500"
25,"28722,7100","1914,8473"
26,"3172,1600","1057,3866"
27,"1545,7000","257,6166"
28,"7151,5500","893,9437"
29,"836,7000","167,3400"
30,"11830,1000","1183,0100"
31,"8702,2300","966,9144"
32,"19711,1300","1791,9209"
33,"1488,7000","744,3500"
34,"34101,1500","2435,7964"
35,"23611,5800","1311,7544"
36,"3063,2000","612,6400"
37,"57317,3900","3016,7047"
38,"6146,3000","614,6300"
39,"31745,7500","2267,5535"
40,"1992,0500","498,0125"
41,"10272,3500","733,7392"
42,"522,5000","174,1666"
43,"357,0000","178,5000"
44,"21282,0200","1418,8013"
45,"3490,0200","872,5050"
46,"17825,0600","1273,2185"
47,"17889,5500","1490,7958"
48,"4258,6000","532,3250"
49,"7603,8500","760,3850"
50,"10430,5800","1490,0828"
51,"32203,9000","2477,2230"
52,"5042,2000","1008,4400"
53,"649,0000","216,3333"
54,"3460,2000","692,0400"
55,"16325,1500","1632,5150"
56,"13157,5000","1315,7500"
58,"4242,2000","707,0333"
59,"26259,9500","2625,9950"
60,"5317,1000","1063,4200"
61,"6973,6300","774,8477"
62,"30226,1000","2325,0846"
63,"117483,3900","4195,8353"
64,"2844,1000","568,8200"
65,"52245,9000","2902,5500"
66,"7555,6000","629,6333"
67,"12924,4000","1174,9454"
68,"20033,2000","2003,3200"
69,"1467,2900","293,4580"
70,"5735,1500","955,8583"
71,"115673,3900","3731,3996"
72,"17172,0500","1908,0055"
73,"18138,4500","2591,2071"
74,"2423,3500","605,8375"
75,"12489,7000","1387,7444"
76,"24704,4000","2058,7000"
77,"3361,0000","840,2500"
78,"1947,2400","649,0800"
79,"4954,0000","825,6666"
80,"10812,1500","1081,2150"
81,"7310,6200","1218,4366"
82,"1571,2000","523,7333"
83,"16643,8000","1513,0727"
84,"9937,1000","993,7100"
85,"1480,0000","296,0000"
86,"10653,8500","1065,3850"
87,"16617,1000","1107,8066"
88,"6480,7000","720,0777"
89,"29073,4500","2076,6750"
90,"3161,3500","451,6214"
91,"3531,9500","504,5642"

3. Utilizando Expresions Comunes de Tabla

3.1. Write a SELECT statement like the one in exercise 2.1, but use a CTE instead of a derived table.
Use inline column aliasing in the CTE query and name the CTE ProductBeverages.

In [7]:
WITH ProductsBeverages AS
(
    select 
        productid,productname,supplierid,unitprice,discontinued,
        case WHEN unitprice > 100. THEN N'high' ELSE N'normal' END AS pricetype
    FROM Production.Products
    WHERE categoryid=1
)
select productid,productname
FROM ProductsBeverages
WHERE pricetype=N'high'

productid,productname
38,Product QDOMO

3.2. Write a SELECT statement against Sales.OrderValues to retrieve each customer’s ID and total sales
amount for the year 2008. Define a CTE named c2008 based on this query, using the external aliasing
form to name the CTE columns custid and salesamt2008. Join the Sales.Customers table and the
c2008 CTE, returning the custid and contactname columns from the Sales.Customers table and the
salesamt2008 column from the c2008 CTE.

In [8]:
WITH c2008 (custid,salesamt2008) as
(
    SELECT  
        custid,sum(val)
        FROM Sales.OrderValues
        WHERE YEAR(orderdate)=2008
        GROUP by custid
)
select 
    c.custid,c.contactname,c2008.salesamt2008
FROM Sales.Customers AS c
LEFT OUTER JOIN c2008 ON c.custid=c2008.custid;

custid,contactname,salesamt2008
1,"Allen, Michael","2250,50"
2,"Hassall, Mark","514,40"
3,"Peoples, John","660,00"
4,"Arndt, Torsten","5604,75"
5,"Higginbotham, Tom","6754,16"
6,"Poland, Carole","2160,00"
7,"Bansal, Dushyant","730,00"
8,"Ilyina, Julia","224,00"
9,"Raghav, Amritansh","6680,61"
10,"Bassols, Pilar Colome","11338,56"
11,"Jaffe, David","2431,00"
12,"Ray, Mike","1576,80"
13,"Benito, Almudena",NULL
14,"Jelitto, Jacek","4158,26"
15,"Richardson, Shawn","513,75"
16,"Birkby, Dana","931,50"
17,"Jones, TiAnna","2809,61"
18,"Rizaldy, Arif","860,10"
19,"Boseman, Randall","9296,69"
20,"Kane, John","41210,65"
21,"Russo, Giuseppe",NULL
22,"Bueno, Janaina Burdan, Neville",NULL
23,"Khanna, Karan",NULL
24,"San Juan, Patricia","13644,07"
25,"Carlson, Jason","5078,74"
26,"Koch, Paul","2252,06"
27,"Schmöllerl, Martin","1296,00"
28,"Cavaglieri, Giorgio","57,80"
29,"Kolesnikova, Katerina","207,50"
30,"Shabalin, Rostislav","6870,21"
31,"Cheng, Yao-Qiang","405,35"
32,"Krishnan, Venky","9942,14"
33,"Sigurdarson, Hallur",NULL
34,"Cohen, Shy","23821,20"
35,"Langohr, Kris","6043,20"
36,"Smith, Denise",NULL
37,"Crăciun, Ovidiu V.","20402,12"
38,"Lee, Frank","2684,60"
39,"Song, Lolan","19582,78"
40,"De Oliveira, Jose","1992,05"
41,"Litton, Tim","1259,91"
42,"Steiner, Dominik","187,00"
43,"Deshpande, Anu",NULL
44,"Louverdis, George","3079,91"
45,"Sunkammurali, Krishna","1378,07"
46,"Dressler, Marlies","5507,32"
47,"Lupu, Cornel","9117,10"
48,"Szymczak, Radosław","1709,40"
49,"Duerr, Bernard","1580,50"
50,"Mace, Donald","4439,08"
51,"Taylor, Maurice",NULL
52,"Dupont-Roc, Patrice","245,00"
53,"Mallit, Ken","45,00"
54,"Tiano, Mike","3031,00"
55,"Egelund-Muller, Anja","5026,29"
56,"Marinova, Nadejda","2737,28"
57,"Tollevsen, Bjørn",NULL
58,"Fakhouri, Fadi","1496,00"
59,"Meston, Tosh","3790,00"
60,"Uppal, Sunil","2633,90"
61,"Florczyk, Krzysztof","1353,60"
62,"Misiec, Anna","6373,83"
63,"Veronesi, Giorgio","37217,32"
64,"Gaffney, Lawrie","1694,70"
65,"Moore, Michael","21238,27"
66,"Voss, Florian","3967,30"
67,"Garden, Euan","6998,53"
68,"Myrcha, Jacek","4988,86"
69,"Watters, Jason M.","726,89"
70,"Ginters, Kaspars","3976,75"
71,"Navarro, Tomás","36310,11"
72,"Welcker, Brian","1630,00"
73,"Gonzalez, Nuria","232,09"
74,"O’Brien, Dave","2371,00"
75,"Wojciechowska, Agnieszka","1117,00"
76,"Gulbis, Katrin","11644,60"
77,"Osorio, Cristian","69,60"
78,"Young, Robin","326,00"
79,"Wickham, Jim","910,40"
80,"Geschwandtner, Jens","1874,50"
81,"Nagel, Jean-Philippe","4234,26"
82,"Veninga, Tjeerd","237,90"
83,"Fonteneau, Karl","4284,00"
84,"Tuntisangaroon, Sittichai","2576,45"
85,"McLin, Nkenge",NULL
86,"Syamala, Manoj","1485,80"
87,"Ludwig, Michael","270,00"
88,"Li, Yan","1135,25"
89,"Smith Jr., Ronaldo","15278,90"
90,"Larsson, Katarina","1987,00"
91,"Conn, Steve","1865,10"

4. Utilizando Funciones de Tabla en línea

4.1. Write a SELECT statement against the Sales.OrderValues view and retrieve the custid and
totalsalesamount columns as a total of the val column. Filter the results to include orders only for the
year 2007.

In [9]:
select 
    custid,SUM(val) as totalsalesmount
FROM Sales.OrderValues
where year(orderdate)=2007
group by custid;
go

custid,totalsalesmount
1,"2022,50"
2,"799,75"
3,"5960,78"
4,"6406,90"
5,"13849,02"
6,"1079,80"
7,"7817,88"
8,"3026,85"
9,"11208,36"
10,"7630,25"
11,"3179,50"
12,"238,00"
14,"6516,40"
15,"1128,00"
16,"787,60"
17,"420,00"
18,"487,00"
19,"4514,35"
20,"48096,27"
21,"3127,13"
23,"11666,90"
24,"13314,67"
25,"11829,79"
26,"920,10"
27,"249,70"
28,"5065,33"
29,"493,20"
30,"3458,35"
31,"8008,79"
32,"8565,32"
33,"387,50"
34,"6022,77"
35,"13482,74"
36,"2283,20"
37,"20454,41"
38,"2560,50"
39,"9664,21"
41,"6923,87"
42,"335,50"
43,"357,00"
44,"13076,13"
45,"1698,40"
46,"5175,20"
47,"7359,48"
48,"1837,20"
49,"4695,88"
50,"5297,00"
51,"23332,31"
52,"3596,40"
53,"604,00"
54,"429,20"
55,"5475,38"
56,"8254,28"
58,"2065,40"
59,"9305,58"
60,"1409,20"
61,"3502,41"
62,"10132,77"
63,"61109,92"
64,"1149,40"
65,"19383,75"
66,"3000,84"
67,"4283,78"
68,"11864,42"
70,"700,00"
71,"57713,58"
72,"9021,25"
73,"16232,41"
74,"52,35"
75,"2475,00"
76,"6137,48"
77,"2955,40"
78,"1621,24"
79,"2004,34"
80,"5523,35"
81,"1320,40"
82,"1333,30"
83,"8960,13"
84,"5807,12"
85,"379,80"
86,"4262,83"
87,"12262,94"
88,"4415,15"
89,"9146,51"
90,"1174,35"
91,"1207,85"

4.2. Define an inline TVF using the following function header and add your previous query after the
RETURN clause:
Modify the query by replacing the constant year value 2007 in the WHERE clause with the parameter
@orderyear

In [10]:
CREATE FUNCTION dbo.fnGetSalesByCustomer
(@orderyear AS INT) RETURNS TABLE
AS
RETURN
    select custid,SUM(val) as totalsalesmount
FROM Sales.OrderValues
where year(orderdate)=@orderyear
group by custid;
go

4.3. Write a SELECT statement that retrieves the top three sold products based on the total sales value for the customer
with ID 1. Return the productid and productname columns from the Production.Products table. Use
the qty and unitprice columns from the Sales.OrderDetails table to compute each order line’s value,
and return the sum of all values per product, naming the resulting column totalsalesamount. Filter the
results to include only the rows where the custid value is equal to 1.

In [11]:
SELECT TOP(3)
    d.productid,
    MAX(p.productname) AS productname,
    SUM(d.qty*d.unitprice) AS totalsalesmount
FROM Sales.Orders AS o
inner join Sales.OrderDetails AS d on d.orderid=o.orderid
inner join Production.Products AS p on p.productid=d.productid
WHERE custid=1
GROUP BY d.productid
order by totalsalesmount DESC;
go

productid,productname,totalsalesmount
63,Product ICKNK,"878,0000"
59,Product UKXRI,"825,0000"
28,Product OFBNT,"775,2000"

4.4. Create an inline TVF based on the following function header, using the previous SELECT statement.
Replace the constant custid value 1 in the query with the function’s input parameter @custid:

In [12]:
CREATE FUNCTION dbo.fnGetTop3ProductsForCustomer
(@custid AS INT) RETURNS TABLE
AS
RETURN
SELECT TOP(3)
    d.productid,
    MAX(p.productname) AS productname,
    SUM(d.qty*d.unitprice) AS totalsalesmount
FROM Sales.Orders AS o
inner join Sales.OrderDetails AS d on d.orderid=o.orderid
inner join Production.Products AS p on p.productid=d.productid
WHERE custid=@custid
GROUP BY d.productid
order by totalsalesmount DESC;
go

4.5. Test the created inline TVF by writing a SELECT statement against it and use the value 1 for the
customer ID parameter. Retrieve the productid, productname, and totalsalesamount columns, and use
the alias “p” for the inline TVF

In [13]:
SELECT 
p.productid,
p.productname,
p.totalsalesmount
from dbo.fnGetTop3ProductsForCustomer(5) as p

productid,productname,totalsalesmount
38,Product QDOMO,"3952,5000"
43,Product ZZZHR,"2760,0000"
28,Product OFBNT,"2280,0000"

4.6. Escribir el código necesario para limpiar todos los cambios realizados

In [16]:
DROP VIEW Production.ProductsBeverages;
GO
DROP FUNCTION dbo.fnGetSalesByCustomer;
GO
DROP FUNCTION dbo.fnGetTop3ProductsForCustomer;
GO

: Msg 3701, Level 11, State 5, Line 2
No se puede quitar el función 'dbo.fnGetSalesByCustomer' porque no existe o el usuario no tiene permiso.

: Msg 3701, Level 11, State 5, Line 4
No se puede quitar el función 'dbo.fnGetTop3ProductsForCustomer' porque no existe o el usuario no tiene permiso.